@charset "utf-8";
div.blue {
  color: #0099ff;
}
div.yellow {
  color: #ffff00;
}
div.green {
  color: #33cc33;
}
div.red {
  color: #ff0000;
}
span.blue {
  background-color: #0099ff;
}
span.yellow {
  background-color: #ffff00;
}
span.green {
  background-color: #33cc33;
}
span.red {
  background-color: #ff0000;
}
