@charset "utf-8";
.blue {
  background-color: #0099ff;
}
.blue:hover {
  color: red;
  text-decoration: underline;
}
.yellow {
  background-color: #ffff00;
}
.green {
  background-color: #33cc33;
}
.red {
  background-color: #ff0000;
}
